* {
  margin: 0;
  box-sizing: border-box;
}

body, html {
  background: #edeff0;
  font-family: 'Varela Round', sans-serif;
}
/* Main Container */
.wrap {
  width: 1200px;
  margin: 0 auto;
}

.cf:after{
  content: "";
  display: table;
  clear: both;
}

/* Main Nav Bar */
.nav {
  height: 100px;
  width: 100%;
  border;
}

#main-nav-left {
  float: left;
  margin-top: 25px;
}

#main-nav-right li {
  float: right;
  display: inline;
  list-style: none;
  margin-top: 25px;
  font-size: 25px;
  padding: 0 5px;
}

#book {
  margin-left: 20px;
  margin-top: 20px;
}

/* Course 1 */
.tree-1 {
  float: left;
  width: 540px;
  height: 310px;
  background: white;
  border: 2px solid #4b9477;
  border-radius: 5px;
  margin-left: 20px;
  box-shadow: 0 2px 2px 0 #9ba0a4;
}

#tree-1-p {
  padding: 10px;
}

.nav-1 {
  height: 80px;
  background: #4b9477;
}
.nav-1 img {
  height: 30px;
  width: 30px;
  float: left;
}

.nav-1 p {
  float: right;
  margin-top: 25px;
  margin-right: 20px;
  color: white;
}

.play-1 {
  float: right;
  margin-top: 70px;
  padding-right: 25px;
}

.star-1 {
  float: right;
  margin-top: 70px;
  padding-right: 25px;
}
/* Course 2 */
.tree-2 {
  float: right;
  background: white;
  width: 540px;
  height: 310px;
  border: 2px solid #e596af;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 0 2px 2px 0 #9ba0a4;
}

#tree-2-p {
  padding: 10px;
}

.nav-2 {
  height: 80px;
  background: #e596af;
}

.nav-2 img {
  height: 30px;
  width: 30px;
  float: left;
}

.nav-2 p {
  float: right;
  margin: 25px 20px 0 0;
  color: white;
}

.play-2 {
  float: right;
  margin-top: 70px;
  padding-right: 25px;
}

.star-2 {
  float: right;
  margin-top: 70px;
  padding-right: 25px;
}
/* Course 3 */
.tree-3 {
  float: left;
  background: white;
  width: 540px;
  height: 310px;
  border: 2px solid #848bc4;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 2px 0 #9ba0a4;
}

#tree-3-p {
  padding: 10px;
}

.nav-3 {
  height: 80px;
  background: #848bc4;
}

.nav-3 img {
  height: 30px;
  width: 30px;
  float: left;
}

.nav-3 p {
  float: right;
  margin: 25px 20px 0 0;
  color: white;
}

.play-3 {
  float: right;
  margin-top: 70px;
  padding-right: 25px;
}

.star-3 {
  float: right;
  margin-top: 70px;
  padding-right: 25px;
}
/* Course 4 */
.tree-4 {
  float: right;
  background: white;
  width: 540px;
  height: 310px;
  border: 2px solid #4b9477;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 2px 0 #9ba0a4;
}

#tree-4-p {
  padding: 10px;
}

.nav-4 {
  height: 80px;
  background: #4b9477;
}

.nav-4 img {
  height: 30px;
  width: 30px;
  float: left;
}

.nav-4 p {
  float: right;
  margin: 25px 20px 0 0;
  color: white;
}

.play-4 {
  float: right;
  margin-top: 70px;
  padding-right: 25px;
}

.star-4 {
  float: right;
  margin-top: 70px;
  padding-right: 25px;
}

/* Footer */
.footer-1, .footer-2 {
  margin-top: 70px;
  float: left;
  border: 2px solid grey;
  padding: 7px;
  border-radius: 20px;
}

.footer-1 {
  margin-right: 15px;
  margin-left: 25px;
}
